# Python cache files
__pycache__/
*.pyc


# Python virtual environments
venv/
.venv/


# Environment variables / secrets
.env


# OS files
.DS_Store


# IDE files
.vscode/


# Logs
*.log


# Frontend
frontend/node_modules/
frontend/dist/